XmlSchemas/v1.2/SkillSets.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="SkillSets" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
  <xs:element name="SkillSets">
    <xs:complexType>
		<xs:sequence>
        <xs:element name="SkillSet" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
			  <xs:sequence>
              <xs:element name="skill" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="id" use="optional"/>
                      <xs:attribute type="xs:string" name="value" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>