XmlSchemas/v1.2/WeaponDescriptions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WeaponDescriptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="WeaponDescription">
          <xs:complexType>
            <xs:all>
              <xs:element name="WeaponFlags">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="WeaponFlag">
                      <xs:complexType>
                        <xs:attribute name="value" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AvailablePieces">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="AvailablePiece">
                      <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>
            <xs:attribute name="id" type="xs:string" use="required" />
            <xs:attribute name="weapon_class" type="xs:string" use="required" />
            <xs:attribute name="item_usage_features" type="xs:string" use="required" />
            <xs:attribute name="rotated_in_hand" type="xs:boolean" use="optional" />
            <xs:attribute name="use_center_of_mass_as_hand_base" type="xs:boolean" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>